<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="inertial_macro.xacro"/>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="purple">
        <color rgba="0.5 0 0.5 1"/>
    </material>

    <link name="base_link">
    </link>

    <link name="base_footprint">
    </link>

    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <!-- FIX: Offset changed to positive so base_link is elevated properly above floor grid -->
        <origin xyz="0 0 0.0425" rpy="0 0 0"/>
    </joint>

    <!-- CHASSIS -->

    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="-0.15 0 0"/>
    </joint>

    <link name="chassis">
        <visual>
            <origin xyz="0.15 0 0.09" rpy="0 0 0"/>
            <geometry>
                <box size="0.3 0.25 0.18"/>
            </geometry>
            <material name="purple"/>
        </visual>

        <collision>
            <origin xyz="0.15 0 0.12" rpy="0 0 0"/>
            <geometry>
                <box size="0.3 0.25 0.24"/>
            </geometry>
            <material name="white"/>
        </collision>

        <xacro:inertial_box mass="2.7" x="0.3" y="0.25" z="0.24">
            <origin xyz="0.15 0 0.12" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    <gazebo reference="chassis"> 
    </gazebo>

    <!-- WHEELS-->
    <!-- FRONT LEFT WHEEL -->

    <joint name="front_left_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="front_left_wheel"/>
        <origin xyz="0.10 0.15 0" rpy="-${pi/2} 0 0"/>
        <axis xyz="0 0 1"/>
        <limit effort="1" velocity="10"/>
    </joint>

    <link name="front_left_wheel">
        <visual>
            <geometry>
                <cylinder length="0.031" radius="0.0425" />
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <geometry>
                <sphere radius="0.0425" />
            </geometry>
            <material name="blue"/>
        </collision>

        <xacro:inertial_cylinder mass="0.054" length="0.031" radius="0.0425">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="front_left_wheel">
    </gazebo>

    <!-- FRONT RIGHT WHEEL -->

    <joint name="front_right_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="front_right_wheel"/>
        <origin xyz="0.10 -0.15 0" rpy="${pi/2} 0 0"/>
        <axis xyz="0 0 -1"/>
        <limit effort="1" velocity="10"/>
    </joint>

    <link name="front_right_wheel">
        <visual>
            <geometry>
                <cylinder length="0.031" radius="0.0425" />
            </geometry>
            <material name="blue"/>
        </visual>
        
        <collision>
            <geometry>
                <sphere radius="0.0425" />
            </geometry>
            <material name="blue"/>
        </collision>

        <xacro:inertial_cylinder mass="0.054" length="0.031" radius="0.0425">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>

    </link>

    <gazebo reference="front_right_wheel">
    </gazebo>

    <!-- BACK LEFT WHEEL -->
    <joint name="back_left_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="back_left_wheel"/>
        <origin xyz="-0.10 0.15 0" rpy="-${pi/2} 0 0"/>
        <axis xyz="0 0 1"/>
        <limit effort="1" velocity="10"/>

    </joint>

    <link name="back_left_wheel">
        <visual>
            <geometry>
                <cylinder length="0.031" radius="0.0425" />
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <geometry>
                <sphere  radius="0.0425" />
            </geometry>
            <material name="blue"/>
        </collision>

         <xacro:inertial_cylinder mass="0.054" length="0.031" radius="0.0425">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="back_left_wheel">
    </gazebo>

    <!-- BACK RIGHT WHEEL -->
    <joint name="back_right_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="back_right_wheel"/>
        <origin xyz="-0.10 -0.15 0" rpy="${pi/2} 0 0"/>
        <axis xyz="0 0 -1"/>
        <limit effort="1" velocity="10"/>
    </joint>

    <link name="back_right_wheel">
        <visual>
            <geometry>
                <cylinder length="0.031" radius="0.0425" />
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <geometry>
                <sphere radius="0.0425" />
            </geometry>
            <material name="blue"/>
        </collision>

         <xacro:inertial_cylinder mass="0.054" length="0.031" radius="0.0425">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="back_right_wheel">
    </gazebo>

</robot>
