<?xml version="1.0"?>
<!-- This is a simple robot model -->
<robot name="differential_drive_robot" xmlns:xacro="https://www.ros.org/wiki/xacro">

<!-- Geometry and constants definitions -->
<!-- 1. pi_constant -->
<xacro:property name="pi_const" value="3.141592653589793"/>

<!-- 2. body dimensions-->
<xacro:property name="body_length" value="0.3"/>
<xacro:property name="body_width" value="0.24"/>
<xacro:property name="body_height" value="0.24"/>

<!-- 3. wheel dimensions -->
<xacro:property name="wheel_radius" value="0.0425"/>
<xacro:property name="wheel_width" value="0.031"/>

<xacro:property name="s1" value="${body_height/2+wheel_radius}"/>
<xacro:property name="s2" value="${body_length/2}"/>
</robot>